language: php
php:
  - "5.5"
  - "5.4"

env:
#  - DB=mysql

before_script:
#  - composer require --dev aura/sql:1.3
  - composer install --dev --no-interaction
#  - if [[ "$DB" == "mysql" ]]; then mysql -e "create database IF NOT EXISTS tomkyle_test;" -utravis; fi

script:
  - mkdir -p build/logs
  - phpunit


after_script:
  - php vendor/bin/coveralls -v
